{% extends "appoint/base_doctor.html" %}

<!--{% for x,y in dict.items %}
 {{x}}<br />
{% for a in y %}

    {{a.reply}}
    {{a.report_image}}<br />

{% endfor %}
<br /><br />

{% endfor %}-->

{% block content %}

<div class="position">
    <div class="row">
      {% for a,b in dict.items %}
      {% if b %}
      {% for c in b %}
      <div class="col-sm-3">
        <div class="card" style="height: auto;">
          <div class="card-body">
            <h5 class="card-title">{{ a.first_name }} {{ a.last_name }}</h5>
            <p class="card-text">{{ c.reply }}</p>
            <a href="{% url 'appoint:id_query' c.id %}" class="btn btn-primary">View Query</a>
            <br><br>
            <a href="{% url 'appoint:id_profile' a.id %}" class="btn btn-primary">View Profile</a>
          </div>
        </div>
      </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock content %}